useDynLib(wickraexchange, .registration = TRUE, .fixes = "C_")
export(wkex_version)
export(wkex_paper)
export(wkex_replay_trades)
export(wkex_name)
export(wkex_set_price)
export(wkex_place_market)
export(wkex_place_limit)
export(wkex_cancel)
export(wkex_balance)
export(wkex_poll)
export(wkex_derivatives)
export(wkex_position)
export(wkex_positions)
export(wkex_set_leverage)
export(wkex_set_margin_mode)
export(wkex_close_position)
export(wkex_advanced)
export(wkex_amend_order)
export(wkex_cancel_batch)
export(wkex_place_oco)
export(wkex_place_batch)
export(wkex_user_data)
export(wkex_subscribe_user_data)
export(wkex_user_data_poll)
export(wkex_ws_execution)
export(wkex_ws_place_order)
export(wkex_ws_cancel_order)
